@font-face {
    font-family: font1;
    src: url(./assets/fonts/MinecraftStandard.otf);
}


@font-face {
    font-family: font2;
    src: url(./assets/fonts/MinecraftStandardBold.otf);
}


@font-face {
    font-family: font3;
    src: url(./assets/fonts/MinecraftStandardOblique.otf);
}


@font-face {
    font-family: font4;
    src: url(./assets/fonts/Minecraft-Seven_v2.ttf);
}


*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: font1;
}

body {
    height: 300dvh;
    background-color: rgb(22, 22, 24);
}


header {
    background-color: rgb(59, 59, 59);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 1em;

}

header img {
 min-width: 20%;
 height: auto;
}

nav {
    width: 100%;
    background: linear-gradient(180deg, rgba(112,112,112,1) 0%, rgba(253,255,255,1) 93%);
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    justify-content: center;
}


nav ul a {
    color: rgb(47, 47, 47);
    display: block;
    padding: 1em 1.4em;
    font-size: 1rem;
    border-left: 1px solid rgba(47, 47, 47, 0.473);
    border-right: 1px solid rgba(47, 47, 47, 0.473);
}

nav ul a:hover {
    background-color: rgba(27, 26, 26, 0.445);
    color: white;
}

main {
    color: white;
    padding: 3em 2em;
}

main h1 {
    margin-bottom: 1em;
}


main p {
    font-size:  12px;
    line-height: 2.5em;
}